/* Global styles */
* {
	margin: 0;
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-synthesis: none;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	line-height: 1.5;
}
strong,
b {
	font-weight: 700;
}

.container {
	max-width: 1230px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
	
}

main {
	display: flex;
	flex-direction: row;
	margin-top: 40px;
}

.left {
	width: 100%;
	max-width: 30%;
	float: left;
}

.right {
	width: 70%;
	float: right;
}

.button--blue {
	background-color: rgb(93, 65, 222, 0.15);
	color: #5D41DE;
	border: none;
	padding: 10px 15px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 14px;
	margin-right: 10px;
}

.button--red {
	background-color:rgb(255, 52, 43, 0.15);
	color: #FF342B;
	border: none;
	padding: 10px 15px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 14px;
}

.button--default {
	background-color: rgb(93, 65, 222, 0.15);
	color: #fff;
	border: none;
	padding: 10px 15px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 14px;
}

header {
	background-color: #fff;
	background: linear-gradient(90deg, #95B3F3 0%, #7370C7 100%);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	padding: 15px 0;
	position: sticky;
	top: 0;
	z-index: 10;
}

.header__inner {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.header__logo {
	margin-right: auto;
}

.header__logo img {
	max-width: 100%;
}

.manage__content {
	display: flex;
	align-items: center;
	margin-right: auto;
}

.manage__buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.manage__button {
	margin-right: 10px;
}

.search__content {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.search__input input[type="text"] {
	display: flex;
	border: none;
	flex-direction: column;
	border-radius: 5px;
	margin-right: 10px;
	padding: 10px;
	font-size: 14px;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
	z-index: 70;
	min-width: 350px;
	gap: 7px;
}

.search__buttons {
	display: flex;
}

/* Toggler styles */
.toggler {
	display: inline-flex;
	align-items: center;
	margin-bottom: 20px;
}

.toggle__input {
	display: none;
}

.toggle__label {
	display: inline-block;
	position: relative;
	width: 50px;
	height: 25px;
	margin-right: 10px;
	border-radius: 15px;
	background-color: rgb(93, 65, 222, 0.15);
	cursor: pointer;
}

.toggle__label:before {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	width: 21px;
	height: 21px;
	border-radius: 50%;
	background-color: white;
	transition: transform 0.2s ease-in-out;
}

.toggle__input:checked+.toggle__label:before {
	transform: translateX(25px);
}


/* Products styles */
.products__content {
	display: flex;
	justify-content: space-between;
}

.products__item {
	flex: 0 0 auto;
	margin-right: 20px;
	
}
.products__item-inner {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 300px;
	height: 400px;
	background-color: #fff;
	border-radius: 31.8566px;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
	padding: 20px;
	margin-bottom: 20px;
}

.products__item-inner:hover {
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
	background-image: url(static/img/Splash.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 200% 200%;
	color:#fff;
}

.products__item-buttons {
	display: flex;
	justify-content: space-between;
}


